@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Student Profile</h2>

<h4>Id: @Model.Id</h4>
<h4>Name: @Model.Name</h4>
<h4>Age: @Model.Age</h4>
<h4>Department: @Model.Department</h4>
<h4>Cgpa: @Model.Cgpa</h4>
<br><br>
<a href="/student" class="btn btn-primary">Click to go back</a>

